<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxl.job.executor.loader.dao.LogKettleJobChannelMapper">
    <resultMap id="BaseResultMap" type="com.xxl.job.executor.loader.dao.model.LogKettleJobChannel">
        <result column="ID_LOG" property="ID_LOG" jdbcType="INTEGER"/>
        <result column="ID_BATCH" property="ID_BATCH" jdbcType="INTEGER"/>
        <result column="CHANNEL_ID" property="CHANNEL_ID" jdbcType="VARCHAR"/>
        <result column="LOG_DATE" property="LOG_DATE" jdbcType="TIMESTAMP"/>
        <result column="LOGGING_OBJECT_TYPE" property="LOGGING_OBJECT_TYPE" jdbcType="VARCHAR"/>
        <result column="OBJECT_NAME" property="OBJECT_NAME" jdbcType="VARCHAR"/>
        <result column="OBJECT_COPY" property="OBJECT_COPY" jdbcType="VARCHAR"/>
        <result column="REPOSITORY_DIRECTORY" property="REPOSITORY_DIRECTORY" jdbcType="VARCHAR"/>
        <result column="FILENAME" property="FILENAME" jdbcType="VARCHAR"/>
        <result column="OBJECT_ID" property="OBJECT_ID" jdbcType="VARCHAR"/>
        <result column="OBJECT_REVISION" property="OBJECT_REVISION" jdbcType="VARCHAR"/>
        <result column="PARENT_CHANNEL_ID" property="PARENT_CHANNEL_ID" jdbcType="VARCHAR"/>
        <result column="ROOT_CHANNEL_ID" property="ROOT_CHANNEL_ID" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
       ID_LOG,ID_BATCH,CHANNEL_ID,LOG_DATE,LOGGING_OBJECT_TYPE,OBJECT_NAME,OBJECT_COPY,REPOSITORY_DIRECTORY,
       FILENAME,OBJECT_ID,OBJECT_REVISION,PARENT_CHANNEL_ID,ROOT_CHANNEL_ID
    </sql>

    <select id="selectByID_LOG" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM log_kettle_job_channel AS t
        WHERE t.ID_LOG = #{ID_LOG,jdbcType=INTEGER}
    </select>

    <update id="updateID_LOGByID_BATCH">
        UPDATE `log_kettle_job_channel` SET `ID_LOG` = #{ID_LOG,jdbcType=INTEGER}
        WHERE `ID_BATCH` = #{ID_BATCH,jdbcType=INTEGER}
    </update>

</mapper>