<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxl.job.executor.loader.dao.LogKettleTranRunMapper">
    <resultMap id="BaseResultMap" type="com.xxl.job.executor.loader.dao.model.LogKettleTranRun">
        <result column="ID_LOG" property="ID_LOG" jdbcType="INTEGER"/>
        <result column="ID_BATCH" property="ID_BATCH" jdbcType="INTEGER"/>
        <result column="SEQ_NR" property="SEQ_NR" jdbcType="INTEGER"/>
        <result column="LOGDATE" property="LOGDATE" jdbcType="TIMESTAMP"/>
        <result column="TRANSNAME" property="TRANSNAME" jdbcType="VARCHAR"/>
        <result column="STEPNAME" property="STEPNAME" jdbcType="VARCHAR"/>
        <result column="STEP_COPY" property="STEP_COPY" jdbcType="INTEGER"/>
        <result column="LINES_READ" property="LINES_READ" jdbcType="BIGINT"/>
        <result column="LINES_WRITTEN" property="LINES_WRITTEN" jdbcType="BIGINT"/>
        <result column="LINES_UPDATED" property="LINES_UPDATED" jdbcType="BIGINT"/>
        <result column="LINES_INPUT" property="LINES_INPUT" jdbcType="BIGINT"/>
        <result column="LINES_OUTPUT" property="LINES_OUTPUT" jdbcType="BIGINT"/>
        <result column="LINES_REJECTED" property="LINES_REJECTED" jdbcType="BIGINT"/>
        <result column="ERRORS" property="ERRORS" jdbcType="BIGINT"/>
        <result column="INPUT_BUFFER_ROWS" property="INPUT_BUFFER_ROWS" jdbcType="BIGINT"/>
        <result column="OUTPUT_BUFFER_ROWS" property="OUTPUT_BUFFER_ROWS" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID_LOG,ID_BATCH,SEQ_NR,LOGDATE,TRANSNAME,STEPNAME,STEP_COPY,LINES_READ,LINES_WRITTEN,LINES_UPDATED,LINES_INPUT,
    LINES_OUTPUT,LINES_REJECTED,ERRORS,INPUT_BUFFER_ROWS,OUTPUT_BUFFER_ROWS
  </sql>

    <select id="selectByID_LOG" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM log_kettle_tran_run AS t
        WHERE t.ID_LOG = #{ID_LOG,jdbcType=INTEGER}
    </select>

    <update id="updateID_LOGByID_BATCH">
        UPDATE `log_kettle_tran_metrics` SET `ID_LOG` = #{ID_LOG,jdbcType=INTEGER}
        WHERE `ID_BATCH` = #{ID_BATCH,jdbcType=INTEGER}
    </update>
</mapper>