<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxl.job.executor.loader.dao.LogKettleTranStepMapper" >
  <resultMap id="BaseResultMap" type="com.xxl.job.executor.loader.dao.model.LogKettleTranStep" >
    <result column="ID_LOG" property="ID_LOG" jdbcType="INTEGER" />
    <result column="ID_BATCH" property="ID_BATCH" jdbcType="INTEGER" />
    <result column="CHANNEL_ID" property="CHANNEL_ID" jdbcType="VARCHAR" />
    <result column="LOG_DATE" property="LOG_DATE" jdbcType="TIMESTAMP" />
    <result column="TRANSNAME" property="TRANSNAME" jdbcType="VARCHAR" />
    <result column="STEPNAME" property="STEPNAME" jdbcType="VARCHAR" />
    <result column="STEP_COPY" property="STEP_COPY" jdbcType="INTEGER" />
    <result column="LINES_READ" property="LINES_READ" jdbcType="BIGINT" />
    <result column="LINES_WRITTEN" property="LINES_WRITTEN" jdbcType="BIGINT" />
    <result column="LINES_UPDATED" property="LINES_UPDATED" jdbcType="BIGINT" />
    <result column="LINES_INPUT" property="LINES_INPUT" jdbcType="BIGINT" />
    <result column="LINES_OUTPUT" property="LINES_OUTPUT" jdbcType="BIGINT" />
    <result column="LINES_REJECTED" property="LINES_REJECTED" jdbcType="BIGINT" />
    <result column="ERRORS" property="ERRORS" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xxl.job.executor.loader.dao.model.LogKettleTranStep" extends="BaseResultMap" >
    <result column="LOG_FIELD" property="LOG_FIELD" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    LOG_FIELD
  </sql>
  <insert id="insert" parameterType="com.xxl.job.executor.loader.dao.model.LogKettleTranStep" >
    insert into log_kettle_tran_step (ID_LOG, ID_BATCH, CHANNEL_ID, 
      LOG_DATE, TRANSNAME, STEPNAME, 
      STEP_COPY, LINES_READ, LINES_WRITTEN, 
      LINES_UPDATED, LINES_INPUT, LINES_OUTPUT, 
      LINES_REJECTED, ERRORS, LOG_FIELD
      )
    values (#{ID_LOG,jdbcType=INTEGER}, #{ID_BATCH,jdbcType=INTEGER}, #{CHANNEL_ID,jdbcType=VARCHAR}, 
      #{LOG_DATE,jdbcType=TIMESTAMP}, #{TRANSNAME,jdbcType=VARCHAR}, #{STEPNAME,jdbcType=VARCHAR}, 
      #{STEP_COPY,jdbcType=INTEGER}, #{LINES_READ,jdbcType=BIGINT}, #{LINES_WRITTEN,jdbcType=BIGINT}, 
      #{LINES_UPDATED,jdbcType=BIGINT}, #{LINES_INPUT,jdbcType=BIGINT}, #{LINES_OUTPUT,jdbcType=BIGINT}, 
      #{LINES_REJECTED,jdbcType=BIGINT}, #{ERRORS,jdbcType=BIGINT}, #{LOG_FIELD,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxl.job.executor.loader.dao.model.LogKettleTranStep" >
    insert into log_kettle_tran_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID_LOG != null" >
        ID_LOG,
      </if>
      <if test="ID_BATCH != null" >
        ID_BATCH,
      </if>
      <if test="CHANNEL_ID != null" >
        CHANNEL_ID,
      </if>
      <if test="LOG_DATE != null" >
        LOG_DATE,
      </if>
      <if test="TRANSNAME != null" >
        TRANSNAME,
      </if>
      <if test="STEPNAME != null" >
        STEPNAME,
      </if>
      <if test="STEP_COPY != null" >
        STEP_COPY,
      </if>
      <if test="LINES_READ != null" >
        LINES_READ,
      </if>
      <if test="LINES_WRITTEN != null" >
        LINES_WRITTEN,
      </if>
      <if test="LINES_UPDATED != null" >
        LINES_UPDATED,
      </if>
      <if test="LINES_INPUT != null" >
        LINES_INPUT,
      </if>
      <if test="LINES_OUTPUT != null" >
        LINES_OUTPUT,
      </if>
      <if test="LINES_REJECTED != null" >
        LINES_REJECTED,
      </if>
      <if test="ERRORS != null" >
        ERRORS,
      </if>
      <if test="LOG_FIELD != null" >
        LOG_FIELD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID_LOG != null" >
        #{ID_LOG,jdbcType=INTEGER},
      </if>
      <if test="ID_BATCH != null" >
        #{ID_BATCH,jdbcType=INTEGER},
      </if>
      <if test="CHANNEL_ID != null" >
        #{CHANNEL_ID,jdbcType=VARCHAR},
      </if>
      <if test="LOG_DATE != null" >
        #{LOG_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="TRANSNAME != null" >
        #{TRANSNAME,jdbcType=VARCHAR},
      </if>
      <if test="STEPNAME != null" >
        #{STEPNAME,jdbcType=VARCHAR},
      </if>
      <if test="STEP_COPY != null" >
        #{STEP_COPY,jdbcType=INTEGER},
      </if>
      <if test="LINES_READ != null" >
        #{LINES_READ,jdbcType=BIGINT},
      </if>
      <if test="LINES_WRITTEN != null" >
        #{LINES_WRITTEN,jdbcType=BIGINT},
      </if>
      <if test="LINES_UPDATED != null" >
        #{LINES_UPDATED,jdbcType=BIGINT},
      </if>
      <if test="LINES_INPUT != null" >
        #{LINES_INPUT,jdbcType=BIGINT},
      </if>
      <if test="LINES_OUTPUT != null" >
        #{LINES_OUTPUT,jdbcType=BIGINT},
      </if>
      <if test="LINES_REJECTED != null" >
        #{LINES_REJECTED,jdbcType=BIGINT},
      </if>
      <if test="ERRORS != null" >
        #{ERRORS,jdbcType=BIGINT},
      </if>
      <if test="LOG_FIELD != null" >
        #{LOG_FIELD,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>